a {
    background-image: url('../Images/hyperlink.png');
    background-repeat: no-repeat;
    background-size: 1em 1em;
    padding-left: 1em;
}

.size12 {
    font-size: 0.8em;
}

.size16 {
    font-size: 1em;
}

.size20 {
    font-size: 1.25em;
}

.size24 {
    font-size: 1.5em;
}

.size28 {
    font-size: 1.75em;
}
